.header-container {
  display: flex;
  align-items: center;

  border-bottom: 1px solid #ececec;
}

.color-logo {
  color: var(--accent-color);
}

.logo {
  padding: 25px 0;
  margin-right: 95px;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  color: var(--title-text-color);
}

.navigation {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.nav-list {
  display: flex;
  column-gap: 50px;
}

.nav-list .link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contacts {
  display: flex;
  align-items: center;

  margin-left: auto;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
}

.contacts .link {
  padding-top: 20px;
  padding-bottom: 20px;
}

.contacts > .list-item:not(:last-child) {
  margin-right: 50px;
}

.contacts .icon {
  fill: var(--main-text-color);
  margin-right: 10px;
}

.contacts :last-child {
  display: flex;
  align-items: center;
}
